* {
    margin: 0;
    padding: 0;
}

header {
padding: 10vh;
margin-bottom: 4vh;
}

nav {
    right:0px;
    width: 10%;
    position: fixed;
}
.header-grid-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: repeat(3, 1fr);
}
.header-item1 {
    grid-area: 1/2/1/2;
}

.header-item2 {
    grid-area: 2/2/2/2;
}

#profile-grid-container {
    display: grid;
    grid-template-columns: repeat(6, 12.5vw);
    gap: 2vw ;
}

.profile-item1 {
    grid-area: 1/2/2/4;
    margin: 2vh;
    
}

.profile-item2 {
    grid-area: 1/4/1/6;
    margin:2vh;
}

.profile-item2 p {
    margin-top: 5vh;
}

#comments-grid-container {
    margin: 2vh;
    display: grid;
    grid-template-columns: repeat(8, 10vw);
    grid-template-rows: auto ;
}

.comments-item1 {
    grid-area: 1/4/2/5;
    margin: 2vh;
}

.comments-item2 {
    grid-area: 2/1/2/3;
    margin: 2vh;
}

.comments-item3 {
    grid-area: 2/3/2/5;
    margin: 2vh;
}

.comments-item4 {
    grid-area: 2/5/2/7;
    margin: 2vh;
}

.comments-item5 {
    grid-area: 2/7/2/9;
    margin: 2vh;
}

#comics-grid-container {
    margin: 2vh;
    display: grid;
    grid-template-columns: repeat(3, 27vw);
    grid-template-rows: auto ;
}

.comics-item1 {
    grid-area: 1/2/2/2;
    margin: 2vh;
}

.comics-item2 {
    grid-area: 2/1/2/1;
    margin: 2vh;
}

.comics-item3 {
    grid-area: 2/2/2/2;
    margin: 2vh;
}

.comics-item4 {
    grid-area: 2/3/2/3;
    margin: 2vh;
}

.footer {
    position: static;
    padding: 2vh;
  }

 
