* {
    margin: 0;
    padding: 0;
}

header {
padding: 10vh;
}

main {
width: 80%;
}
nav {
    right:0px;
    position: fixed;
}
.header-grid-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.header-item1 {
    grid-area: 1/2/1/2;
}

.header-item2 {
    grid-area: 2/2/2/2;
}

.main-grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}